@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .ui.grid.container {
        width: calc( 1127px  +  2rem ) !important;
    }

    .ui.relaxed.grid.container {
        width: calc( 1127px  +  3rem ) !important;
    }

    .ui.very.relaxed.grid.container {
        width: calc( 1127px  +  5rem ) !important;
    }
}
